<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Starfruit</title>
    <meta name="description" content="Starfruit">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  <main>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="starfruit.png" id="icon">
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Starfruit</a></li>
      </ul>
    </div>
  </nav>
  <div id="startpage">
    <div class="container">
    <div class="row">
      <div class="col-sm-6 parent" id="grad">
        <div class="child">
            <canvas id="myChart" width="400" height="400"></canvas>
          <center><h1>Who are you? </h1></center>
          <center><h4>how mainstream is your music taste? are you the hipster in the group? or are you waiting for the drop at the dancefloor? it's time to find out if you really are who you think you are. </h4></center>
          <center><button type="button" class="btn btn-outline-primary sign-in" id="login">sign in to Spotify!</button></center>
          <!-- <center><input type="button" value="star me" class="btn btn-outline-primary fruit-me" id="star-me" onclick="test();" /></center> -->
          <center><input type="button" value="star me" class="btn btn-outline-primary fruit-me" id="star-me" onclick="charttest();" /></center>
      </div>
      </div>
      <div class="col-sm-6">
        <p> hej svejs</p>
      </div>
    </div>
  </div>
</div>

<div id="resultpage">
    
    <canvas id="myChart" width="400" height="400"></canvas>
 <!-- <div class="container">
  <div class="row">
    <div class="col-sm-6 parent">
  <div class="box child">
	 <div class="graph-1" id="hipster">Hipster</div>
	 <div class="graph-2" id="sing">Sing-Songwriter</div>
	 <div class="graph-3" id="paradise">Paradise-deltagare</div>
	 <div class="graph-4" id="underground">Under-ground</div>
	 <div class="graph-5" id="addict">Addict</div>
 </div>
</div>
</div>
</div> -->
</div> 


  </main>


      <!--button class="btn btn-primary" id="login">Log in!</button-->
      <!--div id="data-container">
        <ol>
        </ol>
      </div-->


    <footer>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </body>
</html>
