<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Starfruit</title>
    <meta name="description" content="Starfruit">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  <main>
<div id="welcomepage">
  <div class="container parent">
    <div class="child">
      <center><img src="assets/starfruit.png" id="startimg"></center>
      <center><h1 id="welcomeText"> What musical fruit are you? </h1></center>
    <center><button type="button" class="btn btn-outline-primary sign-in" id="login">sign in to Spotify!</button></center>
  </div>
  </div>
</div>


  <div id="startpage">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="assets/starfruit.png" id="icon">
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Starfruit</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
    <div class="row">
      <div class="col-sm-6 parent" id="grad">
        <div class="child">
          <center><h1>What the fruit?!</h1></center>
          <center><h4>did you know that they just discovered a magical band between your music taste and your fruit-you? we've shrinked that sweet science into this generator. GO bananas!</h4></center>
          <center><input type="button" value="Starfruit me!" class="btn btn-outline-primary fruit-me" id="star-me" onclick="test();" /></center>
      </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/cloud.png">
      </div>
    </div>
  </div>
</div>

<div id="resultpage">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="assets/starfruit.png" id="icon">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Starfruit</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 parent">
          <div class="box child">
        	 <div class="graph-1" id="hipster">Hipster</div>
        	 <div class="graph-2" id="sing">Sing-Songwriter</div>
        	 <div class="graph-3" id="paradise">Paradise-deltagare</div>
        	 <div class="graph-4" id="underground">Under-ground</div>
        	 <div class="graph-5" id="hip">Hiphoper</div>
           <div class="graph-6" id="metal">Metalhead</div>
         </div>
    </div>
    <div class="col-sm-6 parent">
      <div class="child" id="fruitYou">
      </div>
    </div>
  </div>
</div>
</div>

  </main>
    <footer>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
