/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@import url('https://fonts.googleapis.com/css?family=Kanit:800|Roboto|Yantramanav:900');

#icon{
  height: 80px;
  width: 80px;
}

p{
  color:white;
}

.parent{
  display: flex;
  height: 700px;
}

.child{
  margin:auto;
}
/*#f8f886 */
body {
  background: linear-gradient(to bottom right, #00ffce,  #bdff91,  #fff18d); /* Standard syntax */
}
html {
    margin: 0;
    height: 100%;
}

.navbar-default{
  background-color:transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  font-size: 60px;
  color: #fff18d;
  font-family: 'Kanit', sans-serif;
  margin-top:4px;
}


.btn-outline-primary{
  color:black;
  background-color:white;
  border: 2px solid #00ffce;
  color: #00ffce;
  font-size: 20px;
  cursor:pointer;
}

.btn-outline-primary:hover{
  transition: 1s color;
  transition: 3s background-color;
  color:#fff18d;
  background-color:#00ffce;
}

#startimg{
  height: 450px;
  width: 450px;
}

h1{
  color:white;
  font-family: 'Yantramanav', sans-serif;
  font-size:68px;
}



h4{
  color:white;
  font-size:24px;
  font-family: 'Roboto', sans-serif;
}

.fruitpic{
  height: 400px;
  width: 400px;
}

.fruitText{
  font-size: 20px;
}

#yourFruit{
  font-size: 45px;
  color:white;
  font-family: 'Yantramanav', sans-serif;
}

#startpage{
  /*visibility: hidden;*/
  display: none;
}

#resultpage{
  display: none;
}

#login{
  cursor:pointer;
}

/* ------------------- */
.box {
  position: relative;
  display: block;
  width: 650px;
  height: 450px;
  background: none;
}


.graph-1 {
  position: absolute;
  top: 100%;
  left: 5%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(255, 163, 148, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-1 1s 1;
}

.graph-2 {
  position: absolute;
  top: 100%;
  left: 22%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(0, 255, 163, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-2 1s 1;
}

.graph-3 {
  position: absolute;
  top: 100%;
  left: 39%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(146, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-3 1s 1;
}

.graph-4 {
  position: absolute;
  top: 100%;
  left: 56%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(244, 0, 244, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-4 1s 1;
}

.graph-5 {
  position: absolute;
  top: 100%;
  left: 73%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-5 1s 1;
}

.graph-6 {
  position: absolute;
  top: 100%;
  left: 90%;
  width: 12%;
  height: 0%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
  animation: graph-6 1s 1;
}
